@charset "utf-8"

/* webページ全体に適用　*/
body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: aliceblue;
}

.wrapper {
    margin: 0 auto 0 auto;
    width: 1280px;
}
h1 {
    color: #44110e;
    font-size: 26px;
    border-bottom: 1px solid #44110e;
    margin: 20px 0px 30px 0px;
    padding: 10px 10px 10px 20px;
}
h3 {
    color: #44110e;
    font-size: 20px;
    }
#nav li{
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}
#nav {
    margin: 0 0 0 ;
    padding: 10px 30px 10px 30px;
    background-color: #44110e;
}
#nav li a:link{
    color: #ffffff;
    text-decoration: none;
}
#nav li a:visited{
    color: #ffffff;
    text-decoration: none;
}
#nav li a:hover{
    color: #ffffff;
    text-decoration: underline;
}
#nav li a:active{
    color: #ffffff;
    text-decoration: none;
}

table.info {
    border-collapse: collapse;
    border: 1px solid #44110e;
}
table.info th, table.info td {
    padding: 8px 8px 8px 8px;
    border: 1px solid #44110e;
    text-align: left;
    vertical-align: middle;
}
table.info th {
    background-color: azure;
    color: brown;
}

.MIDASHI_box {
    padding: 1em 1.5em;
    margin: 2em 0;
    color: #ffffff;
    border: solid 1px #44110e;/*線*/
    background-color: #44110e;
}


/* webページ全体に適用 --フッター部分--　*/
#footer{
    text-align: center;
    border-top: 1px solid #44110e;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    color: #44110e;
}