@charset "utf-8"

/* webページ全体に適用　*/
body{
    margin: 10 10 10 10;
    padding: 0 0 0 0;
    background-color: rgb(187, 201, 241);
    border: 1px solid #a39df0;
}

.wrapper {
    margin: 0 auto 0 auto;
    width: 1000px;
}
h1 {
    color: #44110e;
    font-size: 26px;
    border-bottom: 1px solid #44110e;
    margin: 20px 0px 30px 0px;
    padding: 10px 10px 10px 20px; }
h2 {
    color: #44110e;
    margin: 0px 0px 0px 10px; /*マージン上-右-下-左*/
    font-size: 18px; }
    
.SUB_TX {
        color: #44110e;
        font-size: 26px;
        border-bottom: 1px solid #44110e;
        width: 1000px;
        margin: 20px 10px 30px 10px; /*マージン上-右-下-左*/
        padding: 10px 10px 10px 10px;}
.FILL_TX {
        font-size: 20px;
        margin: 10px 10px 10px 10px; /*マージン上-右-下-左*/
        padding: 10px 10px 10px 10px;}

#nav li{
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}
#nav {
    margin: 0 0 0 ;
    padding: 10px 30px 10px 30px;
    background-color: #44110e;
}
#nav li a:link{
    color: #ffffff;
    text-decoration: none;
}
#nav li a:visited{
    color: #ffffff;
    text-decoration: none;
}
#nav li a:hover{
    color: #ffffff;
    text-decoration: underline;
}
#nav li a:active{
    color: #ffffff;
    text-decoration: none;
}

/* info テーブル書式　*/
table.info {
    border-collapse: collapse;
    border: 1px solid #44110e;
}
table.info th, table.info td {
    padding: 8px 8px 8px 8px;
    border: 1px solid #44110e;
    text-align: left;
    vertical-align: middle;
}
table.info th {
    background-color: azure;
    color: brown;
}

.REG_BOX{ /*見出しClass指定*/
    margin: 10px;
    padding: 10px;
    height: 30px;
    width: 1000px;
    border: solid 2px #44110e;background-color: #44110e;
}
.REG_BOX_TX{
    color: #ffffff;
    text-align: left;
    vertical-align: middle;
    font-size: 30px;
}

/* webページ全体に適用 --フッター部分--　*/
#footer{
    text-align: center;
    border-top: 1px solid #44110e;
    width: 1000px;
    margin: 30px 10px 30px 20px; /*マージン上-右-下-左*/
    padding: 20px 10px 20px 30px;}
    color: #44110e;
}
