@charset "UTF-8";
 
/* CSSコード */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #fff;
}

.logo {
  letter-spacing: -1px;
  font-size: 35px;
  color: #5469d4;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  text-decoration: unset;
}
.p  {
  font-size: 30px;
  color: #5469d4;
}

/* ここから下がハンバーガーメニューに関するCSS */
  
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 10px;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
}

/* メニュー黒ポチを消す */
.nav_list {
  padding-top: 40px;
  list-style: none;/* 箇条書きの頭を変更 */
  font-size: 25px;
  color: #5469d4;
  padding-left: 30px;
  left: 80%;
}　


.atama{
  box-sizing: border-box;
  display: inline-block;
  width: 10em;
  margin-right: .5em;
  padding: 0 .5em;
  background-color: #5469d4;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.75;
  text-align: center
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0;
  padding:0% 0% 0% 10%;/* メニューを画面に入れる padding 上 右 下 左 */
}


/* メインお知らせ設定----------------------------------------------------------------------------- */
 /* インフォメーションボックス */
.info {
  /* webkit Crome safari 対応 */
  /* -webkit-overflow-scrolling: touch; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal; /* インフォメーションボックス表示方向 normal か reverse */
  display: -webkit-box;
  display: flex; /* ブロックレベルでフレックスコンテナのボックスを形成する */
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%; /* インフォメーションボックスの画面最大化 */
  height: auto;
  padding: 0px 20px;/* padding 上 右 下 左 */
  margin: 0 auto;
  /* overflow-y: scroll 右にはみ出た部分が隠れてスクロース */
}

.info dd,
.info dt {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: .5em;
  border-bottom: 1px dotted #343a40;
}

.info dt span {
  box-sizing: border-box;
  display: inline-block;
  width: 15em;
  margin-right: .5em;
  padding: 0 .5em;
  background-color: #5469d4;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.75;
  text-align: center
}

.info time {
  color: #adb5bd;
  /* padding-top: .5em; */

}

.info dd {
  width: calc(100%);
  padding-left: 0.5em;
}


/* サークル設定 */
.container {
  height: auto;
  width: auto;
  /* text-align: center; */
}

/* サークルの横幅均等割り付け */
/* .container ol {
  display: flex;
  justify-content: space-between;
  padding:0px;
} */

.container ol li{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 1px #54a5d4;
  background-color: #54a5d4;
  margin:5px;
  /* margin: 0 30px; */
}

.container  li a{
  position: absolute;
  display: inline-block;
  left: 0%;
  top: 30%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
}

/* レスポンシブ対応（スマホ）----------------------------------------------------------------------------- */
@media (max-width:480px) {
  .logo {
    letter-spacing: -1px;
    font-size: 28px;
    color: #5469d4;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
    text-decoration: unset;
  }
  .info {
    /* 惰性付きのスクロールで、コンテンツはスクロールのジェスチャーが終了し、タッチパネルから指を離した後もスクロールを続けます。 */
    -webkit-overflow-scrolling: touch;
    -webkit-box-orient: vertical;
    /* box-orientプロパティで horizontal を指定すると、ボックス内の子ボックスが水平に配置されます。 また、vertical を指定すると、ボックス内の子ボックスが垂直に配置されます。 */
    -webkit-box-direction: normal;
    padding: 0px 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    }
   .info dt {
    font-style: normal;
    font-weight: initial;
    }
    .info dd {
      margin-left: 0;
      margin-bottom: .5em;
      border-bottom: 1px dotted #343a40
    }  
    
}

.atama{
  box-sizing: border-box;
  display: inline-block;
  width: 10em;
  margin-right: .5em;
  padding: 0 .5em;
  background-color: #5469d4;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.75;
  text-align: center
}


