@charset "UTF-8";

* {	padding: 0;
	margin: 0;
	color: #1a1f36;
	box-sizing: border-box;
	word-wrap: break-word;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  }
  body {
	min-height: 100%;
	background-color: #ffffff;
  }

  h1 {letter-spacing: -1px;}

  a {
	color: #5469d4;
	text-decoration: unset;
  }
  
  .flex-flex {
	  display: flex;
  }
  .flex-direction--column {
	-ms-flex-direction: column;
	flex-direction: column;
  }
  .align-center {
	align-items: center; 
  }
  .center-center {
	align-items: center;
	justify-content: center;
  }
  .box-root {
	  box-sizing: border-box;
  }
  
  .box-divider--light-all-2 {
	  box-shadow: inset 0 0 0 2px #e3e8ee;
  }

  .box-background--white {
	background-color: #ffffff; 
  }
  .box-background--blue800 {
	  background-color: #212d63;
  }
  .box-background--gray100 {
	  background-color: #e3e8ee;
  }
  .box-background--cyan200 {
	  background-color: #7fd3ed;
  }
  .padding-top--64 {
	padding-top: 64px;
  }
  .padding-top--24 {
	padding-top: 24px;
  }
  .padding-top--48 {
	padding-top: 48px;
  }
  .padding-bottom--24 {
	padding-bottom: 24px;
  }
  .padding-horizontal--48 {
	padding: 48px;
  }
  .padding-bottom--15 {
	padding-bottom: 15px;
  }
    
  .flex-justifyContent--center {
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
  }
  
  .formbg {
	  margin: 0px auto;
	  width: 100%;
	  max-width: 450px; /* ログイン入力ボックスの横幅 */
	  background: white;
	  border-radius: 4px;
	  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  span {
	  display: block;
	  font-size: 20px;
	  line-height: 28px;
	  color: #1a1f36;
  }
  label {
	  margin-bottom: 10px;
  }
  .reset-pass a,label {
	  font-size: 14px;
	  font-weight: 600;
	  display: block;
  }
  .reset-pass > a {
	  text-align: right;
	  margin-bottom: 10px;
  }
  .grid--50-50 {
	  display: grid;
	  grid-template-columns: 50% 50%;
	  align-items: center;
  }
  
  input{
	-webkit-appearance: none;
	} /* IOSにCSSを効かせる */
 
	input[type="email"] {
	  font-size: 16px;
	  line-height: 28px;
	  padding: 8px 16px;
	  width: 100%;
	  min-height: 44px;
	  background-color: #d9f2f8;
	  border: 1px sorid #4f4f52;
	  border-radius: 4px 　
	  }
	input[type="password"] {
		font-size: 16px;
		line-height: 28px;
		padding: 8px 16px;
		width: 100%;
		min-height: 44px;
		background-color: #d9f2f8;
		border: 1px sorid #4f4f52;
		border-radius: 4px 　
		}

	input[type="submit"] {
	  font-size: 18px;
	  background-color: #3a3ae9;
	  border: 1px solid #3a3ae9;
	  color: #ffffff;
	  padding: 8px 16px;
	  border-radius: 4px;
	  width: 100%;
	  min-height: 50px;
	  font-weight: 600;
	  cursor: pointer;
  	}

  .field-checkbox input {
	  width: 20px;
	  height: 15px;
	  margin-right: 5px; 
	  box-shadow: unset;
	  min-height: unset;
  }
  .field-checkbox label {
	  display: flex;
	  align-items: center;
	  margin: 0;
  }
  a.ssolink {
	  display: block;
	  text-align: center;
	  font-weight: 600;
  }
  .footer-link{
	  font-size: 14px;
	  text-align: center;
  }
  .listing{
	  color: #697386;
	  font-weight: 600;
	  margin: 0 10px;
  }
  
  @keyframes animationLeftRight {
	/* アニメーション指定はなし */ } 

	/* 480px以下に適用されるCSS（スマホ用）------------------------------------------------------------------------------ */  
  @media screen and (max-width: 480px) {

	/* IOSにCSSを効かせる */
	input{-webkit-appearance: none;}

	input[type="email"] {
		 font-size: 16px;
		 line-height: 28px;
		 padding: 8px 16px;
		 width: 100%;
		 min-height: 44px;
		 background-color: #d9f2f8;
		 border: 1px sorid #4f4f52;
		 border-radius: 4px 　
		 }
	  input[type="password"] {
		  font-size: 16px;
		  line-height: 28px;
		  padding: 8px 16px;
		  width: 100%;
		  min-height: 44px;
		  background-color: #d9f2f8;
		  border: 1px sorid #4f4f52;
		  border-radius: 4px 　
		  }
  	  input[type="submit"] {
		 font-size: 16px;
		 background-color: #3a3ae9;
		 border: 1px solid #3a3ae9;
		 color: #ffffff;
		 padding: 8px 16px;
		 border-radius: 4px;
		 width: 100%;
		 min-height: 50px;
		 font-weight: 600;
		 cursor: pointer
		}
		input[type="checkbox"] {
			border: 1px solid #a8a8ac;
			color: #ffffff;
		   }
		   
		.formbg {
			margin: 0px auto;
			width: 80%;
			max-width: 450px; /* ログイン入力ボックスの横幅 */
			background: white;
			border-radius: 4px;
			box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;	}
		}
